Marketplace WebApp/src/conf/xml-resources/web-service-references/TransactionWS/wsdl/localhost_8081/Marketplace_WebService/TransactionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://TransactionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://TransactionModel/" name="TransactionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://TransactionModel/" schemaLocation="http://localhost:8081/Marketplace_WebService/TransactionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getPurchase">
<part name="parameters" element="tns:getPurchase"/>
</message>
<message name="getPurchaseResponse">
<part name="parameters" element="tns:getPurchaseResponse"/>
</message>
<message name="getSales">
<part name="parameters" element="tns:getSales"/>
</message>
<message name="getSalesResponse">
<part name="parameters" element="tns:getSalesResponse"/>
</message>
<portType name="TransactionWS">
<operation name="hello">
<input wsam:Action="http://TransactionModel/TransactionWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://TransactionModel/TransactionWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getPurchase">
<input wsam:Action="http://TransactionModel/TransactionWS/getPurchaseRequest" message="tns:getPurchase"/>
<output wsam:Action="http://TransactionModel/TransactionWS/getPurchaseResponse" message="tns:getPurchaseResponse"/>
</operation>
<operation name="getSales">
<input wsam:Action="http://TransactionModel/TransactionWS/getSalesRequest" message="tns:getSales"/>
<output wsam:Action="http://TransactionModel/TransactionWS/getSalesResponse" message="tns:getSalesResponse"/>
</operation>
</portType>
<binding name="TransactionWSPortBinding" type="tns:TransactionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransactionWS">
<port name="TransactionWSPort" binding="tns:TransactionWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_WebService/TransactionWS"/>
</port>
</service>
</definitions>