Marketplace WebApp/src/conf/xml-resources/web-service-references/EditProductWS/wsdl/localhost_8081/Marketplace_WebService/EditProductWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ProdukModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ProdukModel/" name="EditProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ProdukModel/" schemaLocation="http://localhost:8081/Marketplace_WebService/EditProductWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getProductByID">
<part name="parameters" element="tns:getProductByID"/>
</message>
<message name="getProductByIDResponse">
<part name="parameters" element="tns:getProductByIDResponse"/>
</message>
<message name="updateProduk">
<part name="parameters" element="tns:updateProduk"/>
</message>
<message name="updateProdukResponse">
<part name="parameters" element="tns:updateProdukResponse"/>
</message>
<portType name="EditProductWS">
<operation name="hello">
<input wsam:Action="http://ProdukModel/EditProductWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ProdukModel/EditProductWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getProductByID">
<input wsam:Action="http://ProdukModel/EditProductWS/getProductByIDRequest" message="tns:getProductByID"/>
<output wsam:Action="http://ProdukModel/EditProductWS/getProductByIDResponse" message="tns:getProductByIDResponse"/>
</operation>
<operation name="updateProduk">
<input wsam:Action="http://ProdukModel/EditProductWS/updateProdukRequest" message="tns:updateProduk"/>
<output wsam:Action="http://ProdukModel/EditProductWS/updateProdukResponse" message="tns:updateProdukResponse"/>
</operation>
</portType>
<binding name="EditProductWSPortBinding" type="tns:EditProductWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EditProductWS">
<port name="EditProductWSPort" binding="tns:EditProductWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_WebService/EditProductWS"/>
</port>
</service>
</definitions>