Marketplace WebApp/src/conf/xml-resources/web-service-references/ConfirmPurchaseWS/wsdl/localhost_8081/Marketplace_WebService/ConfirmPurchaseWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://TransactionModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://TransactionModel/" name="ConfirmPurchaseWS">
<types>
<xsd:schema>
<xsd:import namespace="http://TransactionModel/" schemaLocation="http://localhost:8081/Marketplace_WebService/ConfirmPurchaseWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addPurchase">
<part name="parameters" element="tns:addPurchase"/>
</message>
<message name="addPurchaseResponse">
<part name="parameters" element="tns:addPurchaseResponse"/>
</message>
<message name="getPurchaseProduct">
<part name="parameters" element="tns:getPurchaseProduct"/>
</message>
<message name="getPurchaseProductResponse">
<part name="parameters" element="tns:getPurchaseProductResponse"/>
</message>
<portType name="ConfirmPurchaseWS">
<operation name="hello">
<input wsam:Action="http://TransactionModel/ConfirmPurchaseWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://TransactionModel/ConfirmPurchaseWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addPurchase">
<input wsam:Action="http://TransactionModel/ConfirmPurchaseWS/addPurchaseRequest" message="tns:addPurchase"/>
<output wsam:Action="http://TransactionModel/ConfirmPurchaseWS/addPurchaseResponse" message="tns:addPurchaseResponse"/>
</operation>
<operation name="getPurchaseProduct">
<input wsam:Action="http://TransactionModel/ConfirmPurchaseWS/getPurchaseProductRequest" message="tns:getPurchaseProduct"/>
<output wsam:Action="http://TransactionModel/ConfirmPurchaseWS/getPurchaseProductResponse" message="tns:getPurchaseProductResponse"/>
</operation>
</portType>
<binding name="ConfirmPurchaseWSPortBinding" type="tns:ConfirmPurchaseWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchaseProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConfirmPurchaseWS">
<port name="ConfirmPurchaseWSPort" binding="tns:ConfirmPurchaseWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_WebService/ConfirmPurchaseWS"/>
</port>
</service>
</definitions>