Marketplace WebApp/web/WEB-INF/wsdl/localhost_8081/Marketplace_WebService/LikeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ProdukModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ProdukModel/" name="LikeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ProdukModel/" schemaLocation="http://localhost:8081/Marketplace_WebService/LikeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="isLiked">
<part name="parameters" element="tns:isLiked"/>
</message>
<message name="isLikedResponse">
<part name="parameters" element="tns:isLikedResponse"/>
</message>
<message name="addLike">
<part name="parameters" element="tns:addLike"/>
</message>
<message name="addLikeResponse">
<part name="parameters" element="tns:addLikeResponse"/>
</message>
<message name="delLike">
<part name="parameters" element="tns:delLike"/>
</message>
<message name="delLikeResponse">
<part name="parameters" element="tns:delLikeResponse"/>
</message>
<portType name="LikeWS">
<operation name="hello">
<input wsam:Action="http://ProdukModel/LikeWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ProdukModel/LikeWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="isLiked">
<input wsam:Action="http://ProdukModel/LikeWS/isLikedRequest" message="tns:isLiked"/>
<output wsam:Action="http://ProdukModel/LikeWS/isLikedResponse" message="tns:isLikedResponse"/>
</operation>
<operation name="addLike">
<input wsam:Action="http://ProdukModel/LikeWS/addLikeRequest" message="tns:addLike"/>
<output wsam:Action="http://ProdukModel/LikeWS/addLikeResponse" message="tns:addLikeResponse"/>
</operation>
<operation name="delLike">
<input wsam:Action="http://ProdukModel/LikeWS/delLikeRequest" message="tns:delLike"/>
<output wsam:Action="http://ProdukModel/LikeWS/delLikeResponse" message="tns:delLikeResponse"/>
</operation>
</portType>
<binding name="LikeWSPortBinding" type="tns:LikeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isLiked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LikeWS">
<port name="LikeWSPort" binding="tns:LikeWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_WebService/LikeWS"/>
</port>
</service>
</definitions>